.headerDark {
    width: 100%;
    background-color: hsl(210, 21.8%, 21.6%);
    color: hsl(0, 0%, 100%);
}

.headerLight {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.headerWrapper .link {
    all: unset;
    font-weight: 800;
    cursor: pointer;
}

.headerWrapper .colorModeWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* .headerWrapper .colorModeWrapper .icon {
    font-size: 24px;
} */

.headerWrapper .colorModeWrapper button {
    all: unset;
    font-weight: 600;
    cursor: pointer;
}