.detailsDark {
    width: 100%;
    height: 100%;
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.detailsLight {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.detailsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detailsWrapper .buttonWrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.detailsWrapper .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.detailsWrapper .information .imageWrapper {
    width: 50%;
    /* border: 1px solid white; */
}

.detailsWrapper .information .imageWrapper img {
    width: 480px;
    height: 300px;
}

.detailsWrapper .information .countryDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
    /* border: 1px solid white; */
    font-size: 16px;
}

.detailsWrapper .information .countryDetails h2 {
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 35px;
    /* border: 1px solid white; */
}

.detailsWrapper .information .countryDetails .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.detailsWrapper .information .countryDetails .data ul li {
    font-weight: 600;
    padding-bottom: 15px;
}

.detailsWrapper .information .countryDetails .data ul li span {
    font-weight: 300;
}

.detailsWrapper .information .countryDetails .borders {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid white; */
}

.detailsWrapper .information .countryDetails .borders p {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.detailsWrapper .information .countryDetails div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}